    <form [formGroup]="myForm" (ngSubmit)=onSubmit(myForm.value)>
        <table>
            <tr>
                <th><label for="name">Nimi :</label></th>
                <th><label for="addressStreet">Katuosoite:</label></th>
            </tr>
            <tr>
                <th><input type="text" id="name" required placeholder="Nimi" [formControl]="myForm.controls['name']"></th>
                <th><input type="text" id="addressStreet" required placeholder="Katuosoite" [formControl]="myForm.controls['addressStreet']"></th>
            </tr>

            <tr>
                <th><label for="addressCode">Postinumero:</label></th>
                <th><label for="addressCity">Kaupunki:</label></th>
            </tr>
            <tr>
                <th><input type="number" id="addressCode" required placeholder="Postinumero" [formControl]="myForm.controls['addressCode']"></th>
                <th><input type="text" id="addressCity" required placeholder="Kaupunki" [formControl]="myForm.controls['addressCity']"></th>
            </tr>

            <tr>
                <th><label for="visitationInterval">Vakikohde vai kertaluontoinen:</label></th>
                <th><label for="pairAmount">Optimikoirakkomäärä:</label></th>
            </tr>
            <tr>
              <th><select id="visitationInterval" name="visitationInterval" required [formControl]="myForm.controls['visitationInterval']">
                <option value="Regular">Vakikohde</option>
                <option value="One time">Kertaluontoinen</option>
              </select>
              </th>
				        <th><input type="number" id="pairAmount" required placeholder="Optimikoirakkomäärä" [formControl]="myForm.controls['pairAmount']"></th>
            </tr>

            <tr>
                <th colspan="2"><label for="overseerId">Kohdevastaava:</label></th>
            </tr>
            <tr>
            </tr>
              <th colspan="2"><select id="overseerId" name="overseerId" required [formControl]="myForm.controls['overseerId']">
                <option value="435340898dfg">Jaako mutiainen</option>
                <option value="3453452hgf">Lukihäiriö</option>
              </select>
            <tr>
                <th colspan="2"><label for="details">Lis&#228;tietoja:</label></th>
            </tr>
            <tr>
                <th colspan="2"><textarea id="details" name="details" rows="7" cols="30" [formControl]="myForm.controls['details']"></textarea></th>
            </tr>
            <tr>
                <th colspan="2"><button type="submit">Lis&#228;&#228;</button></th>
            </tr>
        </table>
    </form>
