<button routerLink="/report/Kohdekohtainen käyntitilasto" class="buttonL" style="margin-top: 50px">Kohdekohtainen käyntitilasto</button><br>
<button routerLink="/report/Kaikkien kohteiden käyntitilasto" class="buttonL">Kaikkien kohteiden käyntitilasto</button><br>
<button routerLink="/report/Koirakohtainen käyntitilasto" class="buttonL">Koirakohtainen käyntitilasto</button><br>
<button routerLink="/report/Koiramäärä suhteessa optimiin" class="buttonL">Koiramäärä suhteessa optimiin</button><br>
<button routerLink="/report/Kohteen vakikoirakot" class="buttonL">Kohteen vakikoirakot</button><br>
<button routerLink="/report/Muokattu haku" class="buttonL">Muokattu haku</button><br>
