/* Värit:
    #C0B283 - kulta
    #DCD0C0 - puuteri
    #F4F4F4 - paperi
    #373737 - tumma harmaa

    teksti:
    #000000 - musta

ÄLÄ KÄYTÄ MUITA VÄREJÄ
pl. kalenterin kuvaavat värit (vihreä-punainen-keltainen-sininen)

*/

html{
    color: #373737;
}

#container{
  width: 750px;
  margin: 0 auto;
  border: 2px #cccccc solid;
}
/*Header:*/
header{
  height: 138px;
  width: 100%;
  background-color: #C0B283;
  text-align: center;
  display: flex;
}

#logo{
  margin: 10px;
  float: left;
  width:92.5px;
  height:118.5px;
  background-image: url("../assets/logo.png");
  background-size: 92.5px 118.5px;
}

#title{
  margin: auto;
  font-size: 35px;
}

/*Navigation*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #373737;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #C0B283;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


/*Page content*/

#content{
  text-align: center;
  height: 670px;
  background-color: #F4F4F4;
}


/*Footer*/

footer{
  height: 100px;
  clear: both;
  text-align: center;
  background-color: #373737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F4F4F4;
}

#contactInfo{

}

#copyRight{
  width: 100%;
  font-size: 12px;
}



/*Elements*/

form{
    font-size: 20px;
}

h1{
    margin: 0;
    padding: 20px;
    font-size: 50px;
    color: #000000;
}

h2{
    margin: 0;
    padding: 50px;
    font-size: 30px;
}

button, input[type=submit]{
    font-size: 20px;
    width: 500px;
    height: 40px;
    margin: 5px;
    background-color: #DCD0C0;
}

.buttonL{
    height: 70px;
    margin: 10px;
    font-size: 25px;
}

.whiteBtn{
    background-color: #F4F4F4;
    border: none;
}

input[type=radio]{
    margin-top: -1px;
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

button:hover, input[type=submit]:hover{
    background-color: #C0B283;
    cursor: pointer;
}

input[type=text], input[type=password]{
    width: 500px;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.scroll{
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 2px #cccccc solid;
    border-top: 2px #cccccc solid;
    margin: 20px;
}
