<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
<table>
<!-- SUPER IMPORTANT IN ORDER TO AVOID NULLPOINTERS --->
<div *ngIf="user">

  <tr>
    <th><label for="firstName">Etunimi:</label></th>
    <th><label for="lastName">Sukunimi:</label></th>
  </tr>

  <tr>
    <th><p id="firstName">{{user.firstName}}</p></th>
    <th><p id="lastName">{{user.lastName}}</p></th>
  </tr>

  <tr>
    <th><label for="username">Käyttäjänimi:</label></th>
    <th><label for="accessLevel">Käyttäjätaso:</label></th>
  </tr>

  <tr>
    <th><p id="username">{{user.username}}</p></th>
    <th><p id="accessLevel">{{user.accessLevel}}</p></th>
  </tr>

  <tr>
    <th><label for="phone">Puhelinnumero:</label></th>
    <th><label for="email">Sähköposti:</label></th>
  </tr>

  <tr>
    <th><p id="phone">{{user.phone}}</p></th>
    <th><p id="email">{{user.email}}</p></th>
  </tr>

  <tr>
    <th><label for="memberNumber">Jäsennumero:</label></th>
    <th><label for="qualificationDate">Valmistumispäivämäärä:</label></th>
  </tr>

  <tr>
    <th><p id="memberNumber">{{user.memberNumber}}</p></th>
    <th><p id="qualificationDate">{{user.qualificationDate}}</p></th>
  </tr>

  <tr>
    <th colspan="2"><label for="details">Lisätietoja:</label></th>
  </tr>

  <tr>
    <th colspan="2"><p id="details">{{user.details}}</p></th>
  </tr>

  <tr>
    <th colspan="2">
      <button routerLink="/modifyUser/{{user._id}}">Muokkaa</button>
    </th>
  </tr>

</div>
</table>
</form>
</body>
</html>
