<form>
    <input type="text" name="openSearch" placeholder="Hae nimell&#228;" style="margin-top: 25px; margin-bottom: 5px"> <br>
    <input type="submit" value="Hae" style="margin-bottom: 10px">
</form>

<form>
    <input type="radio" name="searchType" checked value="Dog">Koira
    <input type="radio" name="searchType" value="User" style='margin-left: 50px'>K&#228;ytt&#228;j&#228;
    <input type="radio" name="searchType" value="Visit" style='margin-left: 50px'>Vierailu
    <input type="radio" name="searchType" value="Destination" style='margin-left: 50px'>Kohde<br>
</form>

<div class="scroll">
    <button class="whiteBtn">koira1</button><br>
    <button class="whiteBtn">koira2</button><br>
    <button class="whiteBtn">koira3</button><br>
    <button class="whiteBtn">koira4</button><br>
    <button class="whiteBtn">koira5</button><br>
    <button class="whiteBtn">koira6</button><br>
    <button class="whiteBtn">koira7</button><br>
    <button class="whiteBtn">koira8</button><br>
    <button class="whiteBtn">koira9</button><br>
    <button class="whiteBtn">koira10</button><br>
</div>

<button routerLink="/addUser">Lis&#228;&#228; koira</button>
