<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<ul>
  <li *ngFor="let dog of dogs" [class.selected]="dog === selectedDog"
      (click)="onSelect(dog)">
    <button>{{dog.nameFull}}</button>
  </li>
</ul>
<!-- IMPORTANT. Not working components but do not remove them. --->
<!---
<ul>
  <li *ngFor="let dog of dogs" routerLink="/showDog/{{dog.dogId}}">
    <button  routerLink="/showDog/{{dog.dogId}}">{{dog.nameFull}}</button>
  </li>
</ul>
---->
<!----
  <button *ngFor="let dog of dogs" routerLink="/showDog/{{dog.dogId}}">
    {{dog.nameFull}}
  </button><br>
  -->
</body>
</html>
