<form>
<div *ngIf="dog">
    <table>
      <tr>
        <th><label for="nameFull">Koko nimi:</label></th>
        <th><label for="nameNickname">Kutsumanimi:</label></th>
      </tr>
      <tr>
        <td><p id="nameFull">{{dog.nameFull}}</p></td>
        <td><p id="nameNickname">{{dog.nameNickname}}</p></td>
      </tr>

      <tr>
        <th><label for="dateBirth">Syntym&#228;aika:</label></th>
        <th><label for="breed">Rotu:</label></th>
      </tr>
      <tr>
        <td><p id="dateBirth">{{dog.dateBirth | date: 'dd.MM.yyyy'}}</p></td>
        <td><p id="breed">{{dog.breed}}</p></td>
      </tr>

      <tr>
        <th><label for="registerNumber">Rekisterinumero:</label></th>
        <th><label for="status">Tila:</label></th>
      </tr>
      <tr>
        <td><p id="registerNumber">{{dog.registerNumber}}</p></td>
        <td><p id="status">{{dog.status}}</p></td>
      </tr>

      <tr>
        <th><label for="dateQualification">P&#228;tev&#246;itymisp&#228;iv&#228;m&#228;&#228;r&#228;:</label></th>
        <th><label for="dateGraduation">Valmistumisp&#228;iv&#228;m&#228;&#228;r&#228;:</label></th>
      </tr>
      <tr>
        <td><p id="dateQualification">{{dog.dateQualification | date: 'dd.MM.yyyy'}}</p></td>
        <td><p id="dateGraduation">{{dog.dateGraduation | date: 'dd.MM.yyyy'}}</p></td>
      </tr>

      <tr>
        <th><label for="dateMedal">Mitalin p&#228;iv&#228;m&#228;&#228;r&#228;:</label></th>
        <th><label for="dateRetired">Lopettamisp&#228;iv&#228;m&#228;&#228;r&#228;:</label></th>
      </tr>
      <tr>
        <td><p id="dateMedal">{{dog.dateMedal | date: 'dd.MM.yyyy'}}</p></td>
        <td><p id="dateRetired">{{dog.dateRetired | date: 'dd.MM.yyyy'}}</p></td>
      </tr>

      <tr>
        <th colspan="2"><label for="details">Lis&#228;tietoja:</label></th>
      </tr>
      <tr>
        <td><p id="details">{{dog.details}}</p></td>
      </tr>

      <tr>
          <button class="bottomButt" routerLink="/modifyDog/{{dog._id}}">Muokkaa</button>
      </tr>
    </table>
</div>
</form>
