<form>
    <table>
        <tr>
            <th colspan="2"><button>Lisää vastaanottaja</button></th>
        </tr>
        <tr>
            <td><label>Vakikoirakot kohteesta: Koukkuniemen vanhainkoti</label></td>
            <td><img alt="Remove" src="src/app/assets/undo.png" height="20" width="20"/></td>
        </tr>
        <tr>
            <td><label>Kohdevastaavat</label></td>
            <td><img alt="Remove" src="src/app/assets/undo.png" height="20" width="20"/></td>
        </tr>
    </table>
    <table style="padding-top: 50px">
        <tr>
            <th colspan="2"><label for="subject">Aihe</label></th>
        </tr>
        <tr>
            <th colspan="2"><input type="text" id="subject" required placeholder="Aihe"></th>
        </tr>

        <tr>
            <th colspan="2"><label for="message">Viesti</label></th>
        </tr>
        <tr>
            <th colspan="2"><textarea id="message" required placeholder="Kirjoita viesti tähän" rows="15" cols="30"></textarea></th>
        </tr>
        <tr>
            <th colspan="2"><button>Lähetä</button></th>
        </tr>
    </table>
</form>